h2,h3,h4 {
font-family:ABeeZee;
}

div {

font-family:ABeeZee;


}
.menuTable{
text-align:center;
border-style: dotted;display: grid;padding: 40px;

}
body{
    background-color: powderblue;
}

.img-fixed-size{
    block-size: 15rem;
}
.row{
    padding:2rem;
}
.band{
    background-color: bisque;
    display:-webkit-box!important;
    margin:0.5rem;
    padding:0.5rem;
    
}